
.DS_Store
*.xml
*.pdf
*.png
*.pyc
__pycache__/GameDefinition.cpython-310.pyc
*.ggb
*.pkl
log.txt
*.txt
*.iml
*.asv
matlab/tbxmanager/*
matlab/auxiliary/diary
matlab/diary
matlab/dyn_games/diary
matlab/dyn_games/f_NE_consistency_result.mat
*.mat
diary
*.fig
*.zip
*.backup
